.link_menu_page{
	color:#222d32;
}

.flash-message {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
}

